body {
    background-color:rgb(183, 190, 192); /* Set a background color for the whole page */
  }
  h2{
    color: aliceblue;
  }
  .container {
    position: relative;
    background-color: transparent 100;
  }
  .side-bg1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
    filter: blur(1.8px);
    background: url('assits/img//New-Balance-FuelCell-Echo-Triple.jpg') center/cover no-repeat; /* Set your image URL */
  }
  .side-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
    filter: blur(1.8px);
    background: url('assits/img/nike\ shoe.jpeg') center/cover no-repeat; /* Set your image URL */
  }
 .card{
    background-color: transparent;
  }
  .form-control{
    filter: blur(100);
  }
  label{
    color:aliceblue;
  }
